.contact-details {
  text-align: center; /* Centrar el contenido */
  background-color: #ffeaa7; /* Color amarillo pastel */
  padding: 15px; /* Espacio interno */
  border-radius: 8px; /* Bordes redondeados */
}

.contact-details img {
  width: 100px; /* Ancho fijo para la imagen */
  height: 100px; /* Alto fijo para la imagen */
  border-radius: 50%; /* Hacer la imagen circular */
  margin-bottom: 15px; /* Espacio inferior */
}