<div class="app-container">
  <header>
    <h1 class="app-title">Agenda de Contactos</h1>
  </header>
  <div id="categories">
    <app-category-filter (categorySelected)="onCategoryChange($event)"></app-category-filter>
  </div>
  <div id="contact-list">
    <app-contact-list 
      [category]="selectedCategory"
      (contactSelected)="onSelectContact($event)">
    </app-contact-list>
  </div>
  <app-contact-details 
    *ngIf="selectedContact"
    [contact]="selectedContact">
  </app-contact-details>

  <!-- Componente Principal -->
<app-add-contact (contactAdded)="addContact($event)"></app-add-contact>
<app-delete-contact [contacts]="contacts" (contactDeleted)="removeContact($event)"></app-delete-contact>
<app-edit-contact *ngIf="selectedContact" [contact]="selectedContact" (contactEdited)="updateContact($event)"></app-edit-contact>
</div>