.favorites {
  margin-top: 20px; 
  background-color: #fab1a0; 
  padding: 15px; 
  border-radius: 8px;
}

.favorites div {
  padding: 10px;
  border-bottom: 1px solid #b2bec3; 
}

.favorites div:hover {
  background-color: #ff7675; 
}